@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>FootballManager</h1>
</div>
<div class="col-md-12 text-center">
    <h2>Welcome to FootballManager</h2>
    <p>
        Here you can View or Control everything about football the greatest sport in the world!
    </p>
</div>
<div class="col-md-12 text-center">
    <h2>Create your own things</h2>
    <p>Form your own championships, seasons, fixtures, matches and/or teams!</p>
</div>